/**
 * Editor styles for the admin
 */
.ab-block-post-grid .ab-block-post-grid-title a {
  text-decoration: none; }

.ab-block-post-grid-markup-settings .components-base-control__help {
  margin-top: 8px; }

.block-editor__container .block-editor-block-list__block .ab-block-post-grid a {
  color: inherit; }

 